{% load static %}
<script>
    let g_checklist_data = 'None'
    let g_checklist_name = 'None'
    let g_checklists_list = 'None'

    let g_toolbar_main_urls = {
        checklist_list: "{% url 'checklist_list' %}",
        order_create: "{% url 'order_create' %}",
        logout: "{% url 'logout' %}",
        login: "{% url 'login' %}"
    }
    //let g_username = 'Незнакомец'
</script>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">

        <title> {% block title %} Общий заголовок {% endblock title %} </title>
    </head>
    <body>
        <div id="app" style="min-height: 100%">
            {% block content %}
            {% endblock content %}
        </div>

    {% load static %}
    <script type="module" src="{% static 'index-bundle.js' %}"></script>

  </body>
</html>
