{% extends 'base.html' %}

{% block content %}
    <h1> Новый Чек лист</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="post-entry">
            <h2>Заводской заказ  - {{form.man_number}}</h2>
            
            <h3>Проверка комплекса согласно проекту: </h3>
            <p>Шифр (УЭ): {{form.Code_UE}}</p>
            <p>Шифр (ТМ): {{form.Code_TM}}</p>
            <p>Тип КТМиУЭ: {{form.Type_KTM_UE}}  зав№: {{ form.Number_KTM_UE }}</p>
            
            <h3>Комплекс ШКТМ  - {{form.SKTM}}</h3>
            <p>контроллер - {{form.SKTM_kontroller}}</p>
            <p>автоматы, переключатели и предохранители согласно схеме - {{form.SKTM_commutations}}</p>
            <p>блоки клемм - {{form.SKTM_klemmas_blocks}}</p>
            <p>УЗИП - {{form.SKTM_UZIP}}</p>
            <p>система питания =24В (в т.ч. предохранители в блоке батарей) - {{form.SKTM_supply}}</p>
            <p>антенна GPS - {{form.SKTM_GPS_antenna}}</p>
            <p>антенна GSM - {{form.SKTM_GSM_antenna}}</p>
            <p>кронштейны крепления антенн - {{form.SKTM_antennas_bracket}}</p>

            <h3>Комплекс ШРТМ  - {{form.SRTM}}</h3>
            <p>крейт расширения - {{form.SRTM_crait}}</p>
            <p>автоматы и предохранители согласно схеме - {{form.SRTM_commutations}}</p>
            <p>блоки клемм - {{form.SRTM_klemmas_blocks}}</p>
        </div>
        <input type="submit" value="Сохранить">
    </form>
{% endblock content %}