{% extends 'base.html' %}

{% load addition_tags %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <input type="submit" value="Update">
<br />

{{ section.management_form }}
{% for section in sections %}
<br /><br />
    {{section.name}} <br />

    {{ section.string_forms.management_form }}
    {% for point in section.points %}
        {{ point.name }} - {{ point.form.point_value }}
        {% if point.form.comment %}
            <br />
            Коментарий - {{ point.form.comment }}
        {% endif %}
        <br />
    {% endfor %}

{% endfor %}

</form>
{% endblock content %}