{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-1">
                Заказ
            </div>

            <div class="col-1">
                Стройка
            </div>

            <div class="col-1">
                Электрика
            </div>

            <div class="col-1">
                ТМ
            </div>

            <div class="col-1">
                Документы
            </div>

            <div class="col-1">
                Зип
            </div>

            <div class="col-1">
                Заказчик
            </div>

        </div>
        <br/>

        {% for otkorder in object_list %}
            <div class="row">
                <div class="col-1">
                    <a href="{% url 'order_detail' otkorder.pk %}"> {{ otkorder }} </a>
                </div>
                
                <!-- Стройка-->
                <div class="col-1">
                    {% if  otkorder.bm_checklist  %}
                        <a href="{% url 'checklist_detail' 'bm_checklist' otkorder.bm_checklist.id %}">просмотр </a>
                    {% else %}
                        <a href="{% url 'checklist_create' 'bm_checklist' otkorder.id %}">создать </a>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock content %}