{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>Заводской заказ  - {{object.man_number}}</h2>
        
        <h3>Проверка комплекса согласно проекту: </h3>
        <p>Шифр (УЭ): {{object.Code_UE}}</p>
        <p>Шифр (ТМ): {{object.Code_TM}}</p>
        <p>Тип КТМиУЭ: {{object.Type_KTM_UE}}  зав№: {{ object.Number_KTM_UE }}</p>
        
        <h3>Комплекс ШКТМ  - {{object.SKTM}}</h3>
        <p>контроллер - {{object.SKTM_kontroller}}</p>
        <p>автоматы, переключатели и предохранители согласно схеме - {{object.SKTM_commutations}}</p>
        <p>блоки клемм - {{object.SKTM_klemmas_blocks}}</p>
        <p>УЗИП - {{object.SKTM_UZIP}}</p>
        <p>система питания =24В (в т.ч. предохранители в блоке батарей) - {{object.SKTM_supply}}</p>
        <p>антенна GPS - {{object.SKTM_GPS_antenna}}</p>
        <p>антенна GSM - {{object.SKTM_GSM_antenna}}</p>
        <p>кронштейны крепления антенн - {{object.SKTM_antennas_bracket}}</p>

        <h3>Комплекс ШРТМ  - {{object.SRTM}}</h3>
        <p>крейт расширения - {{object.SRTM_crait}}</p>
        <p>автоматы и предохранители согласно схеме - {{object.SRTM_commutations}}</p>
        <p>блоки клемм - {{object.SRTM_klemmas_blocks}}</p>
    </div>

    <a href="{% url 'checklist_edit' tmchecklist.pk %}"> Заполнить Чек лист </a>
{% endblock content %}