{% extends 'base.html' %}

{% load addition_tags %}

{% block content %}
    <script>
        checklist_data = {{ json_context|safe }}
        checklist_name = {{ json_checklist_name|safe}}
    </script>

    <a href="{% url 'checklist_update' checklist_type checklist.id %}"> Заполнить  </a><br/>

            <mytoolbar> </mytoolbar>
        <div class="container">

            <checklist_header :header_props="header"
                              :sections="data_det"></checklist_header>
        </div>


    <a href="{% url 'checklist_update' checklist_type checklist.id %}"> Заполнить  </a><br/>
{% endblock content %}