{% extends 'base.html' %}

{% load addition_tags %}

{% block content %}
    <script type='text/javascript'>
        const json_data = {{ data_json|safe }};
    </script>
    <a href="{% url 'checklist_update' checklist_type checklist.id %}"> Заполнить  </a><br/>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h4>{{ checklist.name }}<br/> </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <det_cl_section></det_cl_section>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'checklist_update' checklist_type checklist.id %}"> Заполнить  </a><br/>

    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type=module src="{% static 'js/checklist_detail.js' %}"></script>
{% endblock content %}