{% extends 'base.html' %}

{% load addition_tags %}

{% block content %}

    <a href="{% url 'checklist_update' object.pk %}"> Заполнить  </a>     <br/> <br/>
   {{object.name}} <br/> <br/>

   {% for section in data %}
        {{ section.name}} <br/>

        {% for i,string_point_values in section.string_points.items %}
            {{string_point_values}} <br/>
        {% endfor %}

        {% for i, four_point_values in section.four_points.items %}
            {{four_point_values }} <br/>
        {% endfor %}
        {{section.yes_no.choise}} <br/><br/>
   {% endfor %}


{% endblock content %}