{% extends 'base.html' %}

{% block content %}
<script>
    g_checklists_list = {{ gj_checklists_list|safe}}
</script>
    <app_toolbar :title="'Список заказов'"> </app_toolbar>

    <div class="container">
        <br/>

        {% for otkorder in object_list %}
            <div class="row">
                <div class="col-1">
                    <a href="{% url 'order_detail' otkorder.pk %}"> {{ otkorder }} </a>
                </div>

                <!-- Стройка-->
                <div class="col-1">
                    {% if  otkorder.bm_checklist  %}
                        <a href="{% url 'checklist_detail' 'bm_checklist' otkorder.bm_checklist.id %}">просмотр </a>
                    {% else %}
                        <a href="{% url 'checklist_create' 'bm_checklist' otkorder.id %}">создать </a>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock content %}