
{% extends 'base.html' %}

{% block content %}
<script type="application/javascript">
    g_checklists_list = {{ gj_checklists_list|safe}}

    g_fab_data = {
        tooltip: 'Новый заказ',
        icon: 'mdi-plus',
        link: "{% url 'order_create' %}",
        event: "Link"
    }

    g_nav_driver_data = {
        page_title: 'Список заказов',
        nav_list: [
            {
                name: 'Создать заказ',
                icon: 'mdi-plus',
                link: "{% url 'order_create' %}",
            },
        ],
        login: {
            {% if user.is_authenticated %}
                title: 'Выйти',
                link: "{% url 'logout' %}",
            {% else %}
                title: 'Войти',
                link: "{% url 'login' %}"
            {% endif %}
            },
    }

    g_nav_driver_data['user_name'] = 'Незнакомец'
    {% if user.is_authenticated %}
       g_nav_driver_data['user_name'] = "{{ user.username }}"
       //console.log(g_nav_driver_data['user_name'], "{{ user.username }}")
    {% endif %}
</script>



    <app_toolbar v-bind:data="toolbar_data"></app_toolbar>
    <nav_driver v-bind:data="nav_driver_data"></nav_driver>
<v-main>
    <checklists_list v-bind:list_data="checklists_list"></checklists_list>
    <action_button v-bind:data="fab_data"></action_button>
</v-main>

{% endblock content %}