{% extends 'base.html' %}

{% load addition_tags %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <input type="submit" value="Update">
<br />

{{ section.management_form }}
{% for section in sections %}
<br /><br />
    {{section.name}} <br />

    {{ section.string_forms.management_form }}
    {% for f in section.string_forms %}
        {{ f.management_form }}
        {{f.id}}
        <br />
        {{section.string_names|index:forloop.counter0}} {{f.string}}
        <br />
        {{f.comment}}         <br />
    {% endfor %}

    {{ section.four_forms.management_form }}
    {% for f in section.four_forms %}
        {{ f.management_form }}
        {{f.id}}
        <br />
        {{section.four_names|index:forloop.counter0}} {{f.choise}}
        <br />
        {{f.comment}}         <br />
    {% endfor %}

{% endfor %}


{% endblock content %}