{% extends 'base.html' %}

{% block content %}
<br />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table table-bordered ">
                    <tbody>
                        <tr>
                            <td>Номер заводского заказа</td>
                            <td>{{ otkorder.man_number }}</td>
                        </tr>
                        <tr>
                            <td>Тип подстанции</td>
                            <td>{{ otkorder.substation_type }}</td>
                        </tr>
                        <tr>
                            <td>Количество RM6</td>
                            <td>{{ otkorder.rm_number }}</td>
                        </tr>
                        <tr>
                            <td>Количество УВР</td>
                            <td>{{ otkorder.ybp_number }}</td>
                        </tr>
                        <tr>
                            <td>Количество ШУ</td>
                            <td>{{ otkorder.su_number }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}