{% extends 'base.html' %}

{% block content %}
<script type="application/javascript">
    g_order_create_data = {{ j_order_create_data|safe}}
    //console.log("HTML order_create", g_order_crete_data)

    g_nav_driver_data = {
        page_title: 'Создать заказ',
        nav_list: [
            {
                name: "Создать заказ",
                icon: "mdi-hammer",
                link: "",
            }
        ],
        login: {
            {% if user.is_authenticated %}
                title: 'Выйти',
                link: "{% url 'logout' %}",
            {% else %}
                title: 'Войти',
                link: "{% url 'login' %}"
            {% endif %}
            },
    }
    g_nav_driver_data['user_name'] = 'Незнакомец'
        {% if user.is_authenticated %}
           g_nav_driver_data['user_name'] = "{{ user.username }}"
           //console.log(g_nav_driver_data['user_name'], "{{ user.username }}")
        {% endif %}

    g_fab_data = {
        tooltip: 'Создать заказ',
        icon: 'mdi-hammer',
        link: "/",
        event: "createorder-button-click"
    }

</script>

<app_toolbar v-bind:data="toolbar_data"></app_toolbar>
<nav_driver v-bind:data="nav_driver_data"></nav_driver>
<v-main>
    <order_create v-bind:data="order_create_data"></order_create>
    <action_button v-bind:data="fab_data"></action_button>
</v-main>
{% endblock content %}
