{% extends 'base.html' %}

{% block content %}
<br />
<form action="" method="post">{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table table-bordered ">
                    <tbody>
                        <tr>
<!--                        <td>Номер заводского заказа</td>
                            <td>{{ form.man_number }}</td>  -->
                        <tr>
                            <td>Номер заводского заказа</td>
                            <td>{{ order.man_number }}</td>
                        </tr>
                        <tr>
                            <td>Тип подстанции</td>
                            <td>{{ type.point_value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <input type="submit" value="Создать">
</form>
{% endblock content %}
