{% extends 'base.html' %}

{% block content %}
<br />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table table-bordered ">
                    <tbody>
                        <tr>
                            <td>Номер заводского заказа</td>
                            <td>{{ order_number }}</td>
                        </tr>
                        <tr>
                            <td>Тип подстанции</td>
                            <td>{{ subst_type }}</td>
                        </tr>


                        {% for point in config %}
                        <tr>
                            <td>{{point.name}}</td>
                            <td>{{point.value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <td><a href="{% url 'order_update_config' order_pk %}">Изменить конфигурацию</a> </td>
                <br/><br/>
                <td><a href="{% url 'checklist_list' %}">К списку заказов</a> </td>

            </div>
        </div>
    </div>

{% endblock content %}