{% extends 'base.html' %}

{% block content %}
<script type="application/javascript">

    g_order_detail_data = {{ j_order_detail_data|safe}}
//    console.log("HTML order_detail", g_order_detail_data)

    g_nav_driver_data = {
        page_title: 'Просмотр заказа',
        nav_list: [
            {
                name: "Изменить заказ",
                icon: "mdi-pencil",
                link: "",
            }
        ],
        login: {
            {% if user.is_authenticated %}
                title: 'Выйти',
                link: "{% url 'logout' %}",
            {% else %}
                title: 'Войти',
                link: "{% url 'login' %}"
            {% endif %}
            },
    }
    g_nav_driver_data['user_name'] = 'Незнакомец'
        {% if user.is_authenticated %}
           g_nav_driver_data['user_name'] = "{{ user.username }}"
           //console.log(g_nav_driver_data['user_name'], "{{ user.username }}")
        {% endif %}

    g_fab_data = {
        tooltip: 'Изменить заказ',
        icon: 'mdi-pencil',
        link: "/",
        event: "editorder-button-click"
    }
</script>

<app_toolbar v-bind:data="toolbar_data"></app_toolbar>
<nav_driver v-bind:data="nav_driver_data"></nav_driver>
<v-main>
    <order_detail v-bind:data="order_detail_data"></order_detail>
    <action_button v-bind:data="fab_data"></action_button>
</v-main>

{% endblock content %}