{% extends 'base.html' %}
{% load addition_tags %}

{% block content %}

<a href="{% url 'checklist_list' %}"> Домой  </a>
<br />
<a href="{% url 'tm_checklist_update' tmchecklist.id %}"> Заполнить  </a>
<br />
<br />
<div class="container">
    <div class="row">
        <h4> Заказ №{{man_number}}</h4>
    </div>
    <div class="col-md-12">
<h5>  Чек лист телемеханики </h5>
</div>


            {% for name, value in chlist_dict.items  %}
                <div class="row">
                <div class="col-md-6">
                    {{name}} 
                </div>
                <div class="col-md-4">
                    {{value}}
                </div>
                </div>
            {% endfor %}


        {% if  sktm|length > 0 %}
        <br />
        <div class="row">
            <h6> ШКТМ </h6>
        </div>
            {% for name, value in sktm.items  %}
                <div class="row">
                <div class="col-md-6">
                    {{name}} 
                </div>
                <div class="col-md-4">
                    {{value}}
                </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if  srtm|length > 0 %}
        <br />
        <div class="row">
            <h6> ШРТМ </h6>
        </div>
            {% for name, value in srtm.items  %}
                <div class="row">
                <div class="col-md-6">
                    {{name}} 
                </div>
                <div class="col-md-4">
                    {{value}}
                </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if  ktmue|length > 0 %}
        <br />
        <div class="row">
            <h6> КТМиУЭ </h6>
        </div>
            {% for name, value in ktmue.items  %}
                <div class="row">
                <div class="col-md-8">
                    {{name}} 
                </div>
                <div class="col-md-4">
                    {{value}}
                </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if  rm6s|length > 0 %}
        <br />
        <div class="row">
            <h6> RM6 </h6>
        </div>
            {% for name, value in rm6s.items  %}
                <div class="row">
                <div class="col-md-8">
                    {% if  name|del_suffix == 'rm6 ' %}
                        <br />
                    {% endif %}
                    {{name|del_suffix}} 
                </div>
                <div class="col-md-4">
                    {{value}}
                </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if  ybp|length > 0 %}
        <br />
        <div class="row">
            <h6> УВР </h6>
        </div>
            {% for name, value in ybp.items  %}
                <div class="row">
                <div class="col-md-8">
                    {% if  name|del_suffix == 'ybp ' %}
                        <br />
                    {% endif %}
                    {{name|del_suffix}} 
                </div>
                <div class="col-md-4">
                    {{value}}
                </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if  su|length > 0 %}
        <br />
        <div class="row">
            <h6> ШУ </h6>
        </div>
            {% for name, value in su.items  %}
                <div class="row">
                <div class="col-md-8">
                    {% if  name|del_suffix == 'su ' %}
                        <br />
                    {% endif %}
                    {{name|del_suffix}} 
                </div>
                <div class="col-md-4">
                    {{value}}
                </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock content %}