{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table>{{ form.as_table }}</table>

    <br/>
    <h6>SKTM</h6>
    <table>{{ sktm.as_table}}</table>

    <br/>
    <h6>SRTM</h6>
    <table>{{ srtm.as_table}}</table>

    <br/>
    <h6>KTMUE</h6>
    <table>{{ ktmue.as_table}}</table>

    {% if rm6 %}
        <br/>
        <br/>
        <h4>Проверка моноблоков RM6</h4>
        {% for f in rm6.forms %}
        <br />
        Моноблок № {{forloop.counter}}
        <table>{{ f.as_table }} </table>
        {% endfor %}
    {% endif %}

    <br/>
    <h6>УВР</h6>
    <table>{{ ybp.as_table }}</table>
<!-- {{ ybp.as_p}}-->   

    <br/>
    <h6>ШУ</h6>
    <table>{{ su.as_table}}</table>

    <input type="submit" value="Update">
</form>
{% endblock content %}