{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table>{{ form.as_table }}</table>

    {% if sktm %}
        <br/>
        <h6>ШКТМ</h6>
        <table>{{ sktm.as_table}}</table>
    {% endif %}

    {% if  srtm %}
        <br/>
        <h6>ШРТМ</h6>
        <table>{{ srtm.as_table}}</table>
    {% endif %}
    
    {% if ktmue %}
        <br/>
        <h6>КТМиУЭ</h6>
        <table>{{ ktmue.as_table}}</table>
    {% endif %}


    {{ rm6.management_form }}
    {% if rm6 %}
        <br/>
        <h4>Проверка моноблоков RM6</h4>
        {% for f in rm6.forms %}
        <br />
        Моноблок № {{forloop.counter}}
        <table>{{ f.as_table }} </table>
        {% endfor %}
    {% endif %}

    {{ ybp.management_form }}
    {% if ybp %}
        <br/>
        <h4>Проверка УВР</h4>
        {% for f in ybp.forms %}
        <br />
        УВР № {{forloop.counter}}
        <table>{{ f.as_table }} </table>
        {% endfor %}
    {% endif %}

    {{ su.management_form }}
    {% if su %}
        <br/>
        <h4>Проверка ШУ</h4>
        {% for f in ybp.forms %}
        <br />
        ШУ № {{forloop.counter}}
        <table>{{ f.as_table }} </table>
        {% endfor %}
    {% endif %}

    <input type="submit" value="Update">
</form>
{% endblock content %}